body {
    background: #202020 url("../images/b34.png") repeat scroll 0 0;
   // color:gray;
}
  .flexslider-container {
        /*width: auto;
        margin-left: auto;
        margin-right: auto;
        */
    }
.flexslider{
	border: 0 none;
    border-radius: 0;
    margin: 0;
}
a{
  color: #778899;
  text-decoration:none !important; 
}
a:hover{
  color:#9c4747 
}
.flex-direction-nav a::before {
padding-top: 9px;
}
.flex-direction-nav .flex-next {
    right: 0;
}
.flex-direction-nav .flex-prev {
    left: 0px;
}
#footer .container {
    padding-top: 1em;
    border-top: 1px solid;
}
#copyright {
padding: 0;
text-align: right;
}
#copyright a {
	font-style: italic;
}
#nav {
    top: 11em;
    right: none;
}
#header {
  background: none;
}
#header .container {
    padding: 1em 0 2.4em;
}
.logo_sub{
  position: absolute;
  top: 4em;
  left:11em;
}
.header_right{
  float:right;
  right:2em;
}
#logo {
  top:2em;
  left:11em;
}
#logo a {
  color: lightslategray;
  font-size: 1.5em;
  font-weight: 900;
  color:#7D3929; 
}
.logo_img {
    margin-top: -5px;
  }
  .slider{
    top:0;
    background-color: white;
  }
  #nav > ul > li > a{
    padding: 0.4em 0.3em;

  }
  #nav li.active a{
    background: #7D4040;
  }
  #page {
    background: none;
  }
  .sidebar{
    border: 2px solid #8D4939;
    padding: 9px 0 0 10px;
    border-radius: 5px;
  }
  .home_con{
   border: 2px solid #BFBFBF;
   text-align: center;
    padding: 10px 3px 9px 15px;
    border-radius: 5px;
    background: #cee6fe; 
    font-size: 10px;
    font-style: italic;
    background: #8D4939;
    color: white;
  }
  #footer {
    color: black;
    padding: 0;
  }
  #footer h2 {
    color: black;
     padding-bottom: 0em;
         font-size: 1.2em;
    font-weight: 900;
    color:#7D3929;
}
  }
  #footer strong {
color:black;
  }
  #footer .sidebar {
border: none;
  }
#copyright {
  color:black;
  border: none;
}
#copyright a{
  color:red !important;
}
#copyright a:hover{
  color:#9c4747 !important;
}
.row + .row > * {
    padding: 6px 0 0 50px;
}
ul.style1 li {
  padding:0;
}
.blm_container h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #7D3929;
}
header{
margin-bottom: 1em;
}