<!DOCTYPE HTML>

<html class="desktop" >
<head>
<script src="env.js"></script>
<script type="text/javascript">
var blmenv = "local";
</script>
<!-- bower components -->
<link rel="stylesheet" type="text/css" href="bower_components/flexslider/flexslider.css">
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js" ></script>
<!-- bower components -->

<script src="js/angular-flexslider.js"></script>


<!-- angular scripts -->
<script type="text/javascript" src="app/config.js"></script>
<script type="text/javascript" src="app/route.js"></script>
<!-- angular scripts -->

<!-- tamplate -->
<!-- <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,300,700' rel='stylesheet' type='text/css'>
 -->        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
            
        <script src="js/skel.min.js"></script>
        <script src="js/skel-panels.min.js"></script>
        <script src="js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="css/skel-noscript.css" />
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-desktop.css" />
        </noscript>
<!-- tamplate -->
<link rel="stylesheet"  href="css/custom.css">
<title>Blm Institute of Technology</title>
</head >
<body ng-app="app" class="homepage" >
   <!--  <div ui-view="header"> -->
        <!-- Header -->
        <div id="header">
            <div class="container">
                <!-- Logo -->
                    <div class="row">
                        <div>
                            <img class ="logo_img" src="images/blm_logo.png" width="150px" />
                            <div id="logo">
                                <h1><a>
                                Blm Institute of Technology & Management Science
                                </a>
                                </h1>
                                
                            </div>
                            <span class="logo_sub">
                                    Approved by AICTE | Affiliated To RTU,Kota(Raj.) 
                                     </br>
                                     REAP Code: 125
                                 </span>
                        </div>
                        <div class="header_right">
                            Contact No.: 01593 233480</br>
                            Email Id: Blmitms@gmail.com
                        </div>
                    </div>
                <!-- Nav -->
                    <nav id="nav">
                        <ul>
<!--                            <li class="active" ng-repeat="category in categories"><a>{{category.title}}</a></li>
 -->                        <li ng-class="{active: activeheader == 'home'}"><a ui-sref="home">Home</a></li>
                            <li ng-class="{active: activeheader == 'about'}"><a ui-sref="about">About Us</a></li>
                            <li ng-class="{active: activeheader == 'mission'}"><a ui-sref="mission">Mission & Vision</a></li>
                            <li ng-class="{active: activeheader == 'salient_features'}"><a ui-sref="salient_features">Salient Feature</a></li>
                            <li ng-class="{active: activeheader == 'admission'}"><a ui-sref="admission">Admission</a></li>
                            <li ng-class="{active: activeheader == 'library'}"><a ui-sref="library">Library</a></li>
                            <li ng-class="{active: activeheader == 'contact'}"><a ui-sref="contact">Contact Us</a></li>
                        </ul>
                    </nav>
</div>
            </div>
        </div>
    <!-- Header -->
    
    </div>
        <div ui-view="slider"></div>

    <!-- Main -->
        <div id="page">

            <!-- Extra -->
            <div id="marketing" class="container">
                <div class="row">

                 <div ui-view="leftbar" class="3u" ></div>
                 <div ui-view="container" class="6u blm_container"></div>
                 <div ui-view="rightbar" class="3u" ></div>


                </div>
            </div>
            <!-- /Extra -->
        </div> 
    <!-- /Main -->


    <div ui-view="footer"></div>
</body>
<script type="text/javascript" src="app/HeaderController.js"></script>
<script type="text/javascript" src="app/HomeController.js"></script>
</html>