<h1>About Us</h1>
<p class="justify">The college is being run in single shift. The college offers Bachelor of Technology (B.Tech.) Programme in five disciplines viz. Computer Science and Engineering (CSE) (60 seats), Electrical Engineering (EE) (60 seats), Electronics and Communication Engineering (ECE) (60 seats) and Civil Engineering (CE) (60 seats) and  The courses are approved by All India Council of Technical Education ( AICTE ), New Delhi and affiliated to Rajasthan Technical University ( RTU ), Kota.</p>
        <p class="justify">Our main strength lies in best infrastructural facilities, dedicated and experienced faculty having teaching, research and industrial experience.</p>
        <p class="justify">The college has all facilities & well established laboratories .  The institution instils the thought that is fully capable of orienting knowledge and information in a scientific manner in the minds of the common mass.</p>
        
        <p class="justify">A friendly environment is also provided where teachers and students work together on different research projects and perform fieldwork to enhance the understanding of their subject.</p>
        <p class="justify">BLM provides an opportunity to the students to study abroad and get exposure at international level.</p>
