 <!-- ################################################################################################ -->
        <h1>STUDENTS' ACCOMMODATION</h1>
		<p class="justify">BLM provides a standardized (and adorable) separate hostel accommodation for boys and girls in the college premises. It makes no difference than an own home with all modern amenities making a comfortable, secure and peaceful living. </p>
		<p class="justify">The institute also provides staying facilities for visiting parents/guardians and guest faculty.</p>
		<h2>Hostel</h2>
		<ul>
<li>Separate  hostels for Boys and Girls</li>
<li>Facility for indoor/outdoor games and TV rooms for recreation.</li>
<li>Common room and reading room facility.</li> 
<li>Delicious and  balanced nutritious meal served in a widened dining hall of hostel mess.</li>
<li>Medical facility.</li>
<li>Wi-Fi</li>
<li>Geyser facility for hot water during winters.</li>
<li>Water purifying system for drinking purposes.</li>
<li>Hostel warden for each hostel are arranged to take care of the students' security, discipline and academic interest.</li>

		</ul>
