 <h1>B.Tech</h1>
		<h2>Eligibility</h2>
		<ul>
			<li class="justify">12th Science: - 45% marks in Physics & Maths (Compulsory subjects) with Biotech, Biology, Chemistry, Computer (one optional) (40% in case of SC/ST/ Non creamy layer OBC/Non creamy layer SBC candidates of Raj. State)</li>
		</ul>
		<h2>Age Limit</h2>
		<ul>
			<li class="justify">Candidates whose date of birth falls on or after October 1, 1991 are eligible. However, in the case of SC, ST & Pwd (Persons with Disabilities) candidates, the upper limit is relaxed by 5 years. SC, ST and PwD candidates who were born on or after October 1, 1986 are eligible. </li> 
		</ul>
		<h2>Seat Allocation</h2>
		<ul>
			<li class="justify">15% management quota seats through JEE (Mains) score
			<li>15% out of Rajasthan quota seats through JEE (Mains) score</li>
            <li>70% Rajasthan domicile candidates seats</li>
			<ul>
			<li>Through JEE(Main) Exam merit or Through 12 board Exam Merit ( only for Rajasthan candidates)</li>
            
			</ul>
			</ul>
		</li>
		</ul>
	
       
		
		<h2>Steps for admission through REAP-2016 (Rajasthan Engineering Admission Process)</h2>
		<p>As per decision of Govt. of Rajasthan the admission in B.Tech I Year for the session 2016-17 will be made thorugh Rajasthan Engineering Admission Process (REAP).
The process of admission thorugh on line counseling is as follows </p>

		<p class="justify"><b>Step I</b></p>
		<li class="justify">
		
	<li>Deposition of Rs. 710 as cost of REAP – 2016 application form at any emitra/CSC Centres which is neither refundable nor transferable or adjustable in future.</li>
		
		</li>
		
		
		
		<p class="justify"><b>Step II</b></p>
		<li class="justify">
		
	<li>Filling of online application form/ choice of colleges as required with details ofJEE (Main) score (if appeared) or class 12 marks at following website – http://www.rtu.ac.in/RTU/REAP</li>
			</li>
		<p class="justify"><b>Step III</b></p>
	
		<li>I print out of application form after final submission of online application form.</li>
			</li>
		
	
		<p class="justify"><b>Step IV</b></p>
		
		<li class="justify">
	
		<li>College allotment by REAP – 2016</li>
		
		
		</li>
		
