  <h1>CAFETERIA</h1>
		<p class="justify">Hygienic, properly furnished and well ventilated cafeteria plus mess with a capacity of 200+ offers variety of snacks and beverages for both faculty and students. A high grade quality, nutritious food and  pure vegetarian food is ensured at reasonable rates .</p>
        <p class="justify">Separate mess facilities for hostlers are available providing a balanced diet meal.</p>
