
	
						<section>
							<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
								<header>
								<h2>Contact Us</h2>
								</header>
								<div class="row">
									<div class="3u" ><label for="name">Your name:</label><br />
									</div><div class="9u" >
									<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
									</div>
								</div>
								<div class="row">
									<div class="3u" ><label for="email">Your email:</label><br />
									</div><div class="9u" >
									<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
									</div>
								</div>
								<div class="row">
									<div class="3u" ><label for="message">Your message:</label><br />
									</div><div class="9u" >
									<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
								</div>
								</div>
								<input id="submit_button" type="submit" value="Send email" />
							</form>				
							
						</section>
		