<h1>LIBRARY</h1>
		<p class="justify">The college owns a spacious and well-furnished air conditioned library having wide range of textbooks and reference books authored by prominent Indian and International subject experts. Our library provides plenty of knowledge under one roof.</p>
        <p class="justify">The library subscribes to national and international journals and magazines of all engineering sectors, management science and literature with a good range of newspapers. The library runs on “Matrix Solution” software for issuing the books and for the issuers to check for the availability of books. In addition to central library each department of the college has its own departmental library too.</p>
		<p class="justify">It caters to the needs of the staff and students of the college and provides peaceful atmosphere for concentrated study.</p>
		<h1>E-LIBRARY</h1>
		<p class="justify">Digitalization is much more effective to gain knowledge. The central library has air conditioned digital library both for students and staff that provides E-journals, E -Books and internet facilities for their intellectual appetite. </p>
        <p class="justify">Presently we have 72 videos in our E-Library of each department. With this facility, the students and faculties can access the e-books and videos anytime and enhance their knowledge related to the subjects of their interest.</p>
