	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<!-- <div class="3u">
						<section>
							<h2>Maecenas lectus</h2>
							<div class="balloon">
								<blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.&nbsp;&nbsp;&rdquo;<br>
									<br>
									<strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
							</div>
							<div class="ballon-bgbtm">&nbsp;</div>
						</section>
					</div> -->
					<!-- <div class="3u">
						<section>
							<h2>Donec dictum</h2>
							<ul class="default">
								<li>
									<h3>Mauris vulputate dolor sit amet</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
								<li>
									<h3>Fusce ultrices fringilla metus</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
								<li>
									<h3>Donec dictum metus in sapien</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
							</ul>
						</section>
					</div> -->
					<!-- <div class="3u">
						<section>
							<h2>Nulla leifend</h2>
							<p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
							<ul class="style5">
								<li><a href="#"><img src="images/pics07.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics08.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics09.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics10.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics11.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics12.jpg" alt=""></a></li>
							</ul>
							<a href="#" class="button">More Collections</a>
						</section>
					</div> -->
					<!-- <div class="3u">
						<section>
							<h2>Luctus eleifend</h2>
							<p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
							<p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
							<p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
							<a href="#" class="button">More Collections</a>
						</section>
					</div> -->
			<div class="3u" >
				<section class="sidebar">
						<h2>Site Map</h2>
					</header>
					<ul class="style1">
						<li><a ui-sref="sports">Sports@BLM</a></li>
								
								<li><a ui-sref="accommodation">Student's Accommodation</a></li>
								<li><a ui-sref="transportation">Transportation Facility</a></li>
								<li><a ui-sref="library">e Library</a></li>
						<li><a ui-sref="cafeteria">Multi-cuisine Cafeteria</a></li>
						<li><a ui-sref="admission">Admission</a></li>
					</ul>
				</section>
			</div>
						
			<div class="3u" >
				<section class="sidebar">
					<header>
											<header>
						<h2>Principal's Message</h2>
					</header>
					<p class="style1">
						
						It gives me immense pleasure to welcome you all to BLM institute an eco-friendly campus that strives with a goal to attain excellence by empowering students with sound knowledge, wisdom and experience.
						 
					</p>

				</section>
			</div>
			<div class="3u" >
				<section class="sidebar">
					<header>
						<h2>Address of college</h2>
					</header>
					<ul class="style1">
						Village - rajota,
						Tehsil - khetri</br>
						Dist - Jhunjhunu,
						Rajasthan</br>
						Pin Code - 333503<br>
							<br>
					</ul>
					<b>Website Visted :</b><br>
						<!-- hitwebcounter Code START -->
						<a  href="http://www.hitwebcounter.com" target="_blank">
						<img src="http://hitwebcounter.com/counter/counter.php?page=6417057&style=0022&nbdigits=5&type=page&initCount=200" title="http://www.hitwebcounter.com/" Alt="http://www.hitwebcounter.com/"   border="0" >
						</a><br/>
 				</section>
			</div>
			<div class="3u" >
				<section class="sidebar">
					<header>
						<h2>College Map</h2>
					</header>
					<ul class="style1">
						<div style="text-decoration:none; overflow:hidden; height:200px; width:500px; max-width:100%;"><div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=BLM+Institute+khetri&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="code-for-google-map" href="https://www.hostingreviews.website" id="get-data-for-embed-map">here</a><style>#my-map-canvas .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=4c347ec0-e2a9-6be1-c4a0-da6e9089ecf5&c=code-for-google-map&u=1465451490" defer="defer" async="async"></script>
					</ul>
				</section>
			</div>


				</div>
			</div>
		</div>
	<!-- /Footer -->
	<!-- Copyright -->
		<div id="copyright" class="container">
			Design & Developed by: <a href="https://about.me/yogy_saini">Yogesh Saini</a> 
		</div>
