    <!-- Header -->
		<div id="header">
			<div class="container">
				<!-- Logo -->
					<div class="row">
						<div>
							<img class ="logo_img" src="images/blm_logo.png" width="150px" />
							<div id="logo">
								<h1><a>
								Blm Institute of Technology & Management Science
								</a>
								</h1>
								
							</div>
							<span class="logo_sub">
									Approved by AICTE | Affiliated To RTU,Kota(Raj.) 
								     </br>
								     REAP Code: 125
								 </span>
						</div>
						<div class="header_right">
							Contact No.: 01593 233480</br>
							Email Id: Blmitms@gmail.com
						</div>
					</div>
				<!-- Nav -->
					<nav id="nav">
						<ul>
<!-- 							<li class="active" ng-repeat="category in categories"><a>{{category.title}}</a></li>
 -->						<li ng-class="{active: activeheader == 'home'}"><a ui-sref="home">Home</a></li>
							<li ng-class="{active: activeheader == 'about'}"><a ui-sref="about">About Us</a></li>
							<li ng-class="{active: activeheader == 'mission'}"><a ui-sref="mission">Mission & Vision</a></li>
							<li ng-class="{active: activeheader == 'salient_features'}"><a ui-sref="salient_features">Salient Feature</a></li>
							<li ng-class="{active: activeheader == 'admission'}"><a ui-sref="admission">Admission</a></li>
							<li ng-class="{active: activeheader == 'library'}"><a ui-sref="library">Library</a></li>
							<li ng-class="{active: activeheader == 'contact'}"><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</nav>
</div>
			</div>
		</div>
	<!-- Header -->
