 <h1>HEALTH AND CARE</h1>
		<p class="justify">The institute gives preference to its students' health and thus health care services are availed with a doctor 24*7 in the campus. Regular medical checkups are conducted. The college makes all necessary arrangements for the health and care of students.</p>
        <p class="justify">BLM co-ordinates insurance facility to the students provided by “Pension and Insurance Department, Govt. Of Rajasthan” at a nominal premium of Rs 50/-(Per annum) covering accidental insurance of Rs 1,00,000.</p>
