						<section>
							<a href="#"><header class="home_con">
								<h2>Reputed professional disciplined work culture for quality education.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2>Wi-Fi, EPBEX, LAN and internet connectivity throughout the campus.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2>Co-curricular and extra-curricular activities for technical and personnel development of students.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2>Continuous Assessment of student, teacher- guardian scheme and career counselling.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2>Excellent Result. University merit position of students.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2>Effective teaching learning process and modern infrastructure.</h2>
							</header>
							</a>
							<a href="#"><header class="home_con">
								<h2> Expert guest lectures, industrial training tours, seminar, workshop for right aptitude development of students.</h2>
							</header>
							</a>
							
						</section>
					

	