 <h1>INTERNET</h1>
		<p class="justify">Modern world is an “Era of Web Information” with the need and necessity of Internet to remain updated with the aspects of the whole globe. Keeping in mind the importance of Internet in technical education. The BLM transformed itself into a Wi-Fi campus supported by round the clock high speed internet connectivity of 8 Mbps. High throughput Wi-Fi access points make students to surf internet efficiently.</p>
        <p class="justify">It was initiated with a motto to make students not to limit their studies to books rather gain outer knowledge with the <b>educational websites</b> made available through the  internet service available in the campus.</p>
