
						<section class="sidebar">
							<header>
								<h2>Admissions Open</h2>
							</header>
							<ul class="style1">
								Admissions open for 2016-17 Batch.</br>
								For more information contact us at :-</br>
								01593 233480,⁠⁠⁠9649230999</br>
								9460433036,9414540487</br>
								Blmitms@gmail.com </br>
								Akshatbaj@gmail.com
								
							</ul>
						</section>
						<section class="sidebar">
							<header>
								<h2>Other Links</h2>
							</header>
							<ul class="style1">
								<li><a ui-sref="sports">Sports@BLM</a></li>
								
								<li><a ui-sref="accommodation">Student's Accommodation</a></li>
								<li><a ui-sref="transportation">Transportation Facility</a></li>
							</ul>
						</section>
			