 <h1>E-LIBRARY</h1>
		<p class="justify">Digitalization is much more effective to gain knowledge. The central library has air conditioned digital library both for students and staff that provides E-journals, E -Books and internet facilities for their intellectual appetite. </p>
        <p class="justify">At present, there are hundreds of videos in our E-Library of each department. With this facility, the students and faculties of the college can access the e-books and videos anytime and enhance their knowledge related to their own subject interest.</p>
		<p class="justify">List of videos of each department:</p>
		<ul>
		<li>Basic Science and Humanities-150</li>
		<li>Computer Science and Engineering-95</li>
		<li>Electronics and Communication Engineering-56</li>
		<li>Electrical Engineering-116</li>
		<li>Civil Engineering-72</li>
		</ul>
