<h1>Vision</h1>
        <p class="justify">To develop an institute as a centre of excellence, for technical education research and consultancy reinforced with competent managerial skill to meet the changing demand of new business era and its long term survival in future global challenges.</p>
		<h1>Mission</h1>
        <p class="justify">To create best technocrats, updating them by latest technological changes by our valuable faculties and focusing on latest organizational requirement in challenging global scenario.</p>
		 <h1>Quality Policy</h1>
        <p class="justify">BLM Engineering College will strive for quality education by producing the best technocrats backed up with sharp managerial skills & innovative research that will enforce the organization in meeting/exceeding the goals/targets and delighting its customers through continual improvement.</p>
