						<section class="sidebar">
							<header>
								<h2>B.tech Courses</h2>
							</header>
							<ul class="style1 marque">

						<li><a >Civil Engineering(B.Tech)</a></li>
						<li><a >Computer Science and Engineering(B.Tech)</a></li>
						<li><a >Electrical Engineering(B.Tech)</a></li>
						<li><a >Electronics and Communication Engineering(B.Tech)</a></li>
						
							</ul>
						</section>
						<section class="sidebar">
							<header>
								<h2>Quick Links</h2>
							</header>
							<ul class="style1">
						<li class="row2 active"><a ui-sref="seminar_hall">Seminar Hall</a></li>
						<li><a ui-sref="health_care">Health and Care</a></li>
						<li><a ui-sref="internet">Internet</a></li>
						<li><a ui-sref="e_library">Library</a></li>
						<li><a ui-sref="library">e Library</a></li>
						<li><a ui-sref="cafeteria">Multi-cuisine Cafeteria</a></li>
							</ul>
						</section>
