 <div id="content" class="two_third"> 
        <!-- ################################################################################################ -->
        <h1>Academics and Infrastructure</h1>
        <ul class="justify">
<li>Qualitative teaching</li>
<li>Highly experienced faculties</li>
<li>Emphasis on discipline</li>
<li>A lush green campus spread over 135 acres</li>
<li>Academic Advisory Board</li>
<li>High class infrastructure</li>

<li>Round the clock Wi-Fi campus</li>
<li>Well managed and stocked library running on “Matrix Solution” software</li>
<li>Computerized Central Digital Library</li>
<li>Well equipped and air conditioned departmental labs</li>
<li>Guest lectures by eminent academic and corporate leader</li>
<li>Regular International and national conferences</li>
<li>75% attendance implemented</li>
<li>Institute-Industry interaction</li>
<li>Separate hostel facility for boys and girls</li>
<li>Well furnished and hygienic cafeteria providing delicious and nutritious food</li>






		</ul>
		<h1>Life Skills</h1>
		<ul class="justify">
<li>Availed membership of Indian Society for Technical Education (ISTE), ISTE Chapters and Computer Society of India (CSI)</li>
<li>Language and Literature Club</li>
<li>Computer Literacy Club</li>
<li>Ecology Club</li>
<li>Entrepreneurship Development Club</li>
<li>Environment Club</li>
<li>Robotics Club</li>
<li>Toast Master Club</li>
<li>Social Welfare Club</li>
<li>Sports Club</li>

		</ul>
		<h1>Training & Placement</h1>
		<ul class="justify">
<li>100% placement assistance</li>
<li>Mock Interviews</li>
<li>Soft Skill Training</li> 
<li>Cordial relationship with reputed industries</li>
<li>Online examinations</li>
<li>Group discussions</li>
<li>Personality development & communication skills</li>
<li>Fundamental language skills</li>
<li>Computer & internet skill</li>
<li>Reguler debate on current issues </li>
<li>Periodical quiz competitions</li> 
<li>Mentoring and psychological counseling</li>
<li>Entrepreneurship training</li>
		</ul>
		<h1>Co-Curricular & Extra -Curricular Activities</h1>
		<ul class="justify">
<li>Adequate infrastructure for indoor and outdoor sports</li>
<li>Various institutional clubs for multiple growth of student's skills</li>
<li>National Service Scheme (NSS)</li>
<li>Educational and Industrial excursion</li>
<li>Tree Plantation</li> 
<li>Blood Donation Camp</li>

		</ul>



     
      </div>
