<h1>SEMINAR HALL</h1>
		<p class="justify">The Institute has two air conditioned seminar halls which are fully equipped with latest audio visual electronic devices to accommodate students for various activities like seminars, conferences, cultural programmes, debates, skits and pre-placement activities. The students carry out their activities in the right environment and with ease.</p>
        <p class="justify">Seminar halls are also available for meetings, workshops, students presentation, project presentation, panel discussion and interactive session.</p>
