	<!-- Banner -->
	<div class="slider">
	    <flex-slider slide="s in slides" animation="slide">
        <li>
            <img ng-src="{{s}}">
        </li>
        </flex-slider>
    </div>
  	<!-- /Banner -->
