 <h1>Sports@BLM</h1>
		<p class="justify">Sports build up mental and physical health. The institute has put its best efforts to enhance the sports skills in the students as sports is highly beneficial in one’s life. To let its students develop a spirit of sportsmanship and team work. The college offers sports facilities with proper playgrounds (both indoor & outdoor). Students are boosted up to play and participate in the sports events. The college students have won many awards in numerous sports and games under the supervision of Sports Officer and made BLM flag fly high in many other events too. Open Widespread Stadiums  are available for students to enhance their sports skills. The Institute encourages students to attain sporting excellence and provides all the necessary facilities and equipments to the students for maintaining physical fitness and good health.</p>
