<h1>TRANSPORTATION FACILITY</h1>
		<p class="justify">As college is situated in outskirts of the Khetri city so it makes sure that no single student or faculty face problem to reach college. For this the quality transport facility is made available from all important pick up points of Khetri,Singhana,Nimka Thana,Nizampur cities at reasonable charges/rates with safety measures for a comfortable journey to and fro the college campus.</p>
